__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
.Python
.coverage
.coverage.*
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
ENV/
build/
dist/
env/
htmlcov/
pip-wheel-metadata/
site/
venv/
*.zip
.DS_Store
.cache/
.mplconfig/
model_releases/
output_*/
output_*.zip
/artery_vein/*.pt
/disc/*.pt
/discedge/*.pt
/fovea/*.pt
/odfd/*.pt
/quality/*.pt
/vessels/*.pt
/samples/fundus/*
!/samples/fundus/original
